# an example runtime config file
host_mtu 1500
host_addr 10.0.1.6
host_netmask 255.255.255.0
host_gateway 10.0.1.6
runtime_kthreads 18
runtime_spinning_kthreads 18
runtime_guaranteed_kthreads 18
runtime_priority lc
runtime_quantum_us 0
static_arp 10.0.1.5 1c:34:da:5e:0e:d8
static_arp 10.0.1.6 1c:34:da:5e:0e:d4
static_arp 10.0.1.7 08:c0:eb:b6:cd:5d
static_arp 10.0.1.8 08:c0:eb:b6:e8:05
static_arp 10.0.1.9 08:c0:eb:b6:c5:ad
static_arp 10.0.1.10 08:c0:eb:b6:e7:e5
enable_directpath 1
